body {
    font-family: sans-serif;
    width: 100%;
}
header{
    position: fixed;
    background-color: #00F845;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100px
}
header a{
    text-decoration: none;
    height: 33px;
    position: relative;
    top: 30px;

}

header h1{
    text-align: center;
    font-size: 40px;
}
header img{
    position: relative;
    float: left;
    bottom: 17px;
    left: 10px;
    width: 75px;
}
header p, a{
    text-align: center;
    font-size: 30px;
    border:3px solid #2A27B4;
    border-radius: 20px;
    padding: 5px;
    background-color: #C4C4C4;

}
.class{
    position: relative;
    display: flex;
    justify-content: space-around;
    bottom: 100px;
}
header div{
    justify-content: space-around;
}
.class{
    display: flex;
    justify-content: space-around;
}
main{
    background:#FEFFC8;
}
main h1{
    text-align: center;

}
.zagolovok{
    margin-top: 105px;
    font-size: 50px;
    border:3px solid #2A27B4;
    border-radius: 20px;
    padding: 5px;
    background-color: #8CD17A;
}
.cat1 img{
    text-align: center;
    width: 1000px;
}
.cat1{
    text-align: center;
}
.karta{
    text-align: center;
    background-color: #67E667;
}
.karta p{
    font-size: 45px;
}
.poroda{
    text-align: center;
    background-color: #39E639;
    font-size: 40px;
    padding: 10px;
}
.poroda1{
    display: flex;
    justify-content: space-around;
}
.poroda p {
    font-size: 45px;
}
.dostavka{
    text-align: center;
    background-color: #00CC00;
}
.dostavka p{
    font-size: 45px;
}
.bolnica{
    text-align: center;
    background-color: 
#269926;
}
.bolnica p{
    font-size: 45px;
}
.r{
    width: 100%;
    float: left;
    font-size: 40px;
    background-color: #FEFFC8;
}
.r {
    border-left: 10px double navy;
    padding-left: 10px;
}
.r p{
    font-size: 30px;
}
.ra{
    background-color: #FEFFC8;
}
.rar{
    font-size: 50px;
}
.rar::before{
    content: url("https://github.com/voloshuk2021/site-2/blob/main/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202022-04-17%20134138.png?raw=true");
    width: 40px;
    height: 30px;
    display: inline;
}
footer p{
    background-color: #00CC00;
    font-size: 30px
}
